@charset "UTF-8";
/* wrapper - normal */
.wrapper {
  background-color: #f9fafc;
}

/* content common - normal */
.contents-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  max-width: 144rem; /* 1440 */
  margin: 4rem auto 0;
}
.content-area {
  flex: 1;
  max-width: 101.2rem;
  margin: 0 1.6rem;
}
.content-side {
  flex: 1;
  max-width: 31.6rem;
  margin: 0 1.6rem;
}
.content-side [class*='side-area-'] {
  margin: 0 0 3.2rem;
}
